In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Reading the Dataset
xls = pd.ExcelFile('HospitalDatabase .xlsx')
#Reading the ReAdmissionRegistry sheet
df_RR = pd.read_excel(xls, 'ReAdmissionRegistry')
#Reading the Patients sheet
df_PA = pd.read_excel(xls, 'Patients')
#Reading the EDVisits sheet
df_EDV= pd.read_excel(xls, 'EDVisits')
#Reading the AmbulatoryVisits sheet
df_AV = pd.read_excel(xls, 'AmbulatoryVisits')
#Reading the Discharges sheet
df_D = pd.read_excel(xls, 'Discharges')
#Reading the Providers sheet
df_P= pd.read_excel(xls, 'Providers')
#Reading the EDUnique sheet
df_EDU = pd.read_excel(xls, 'EDUnique')

# 2.Using iloc, retrieve the firstname and lastname of patients between indices 101 and 200.

In [4]:
df_PA.iloc[101:201,1:3]

    FirstName    LastName
101     Gipsy    Frankton
102    Jethro      Wharin
103       Viv     Aylward
104     Swift   Dreschler
105     Fadel  Jacquemard
..        ...         ...
196      Noam    Laguerre
197      Arie     Bayless
198    Janaye     O'Mohun
199      Fonz       Group
200  Cummings      Pickup

[100 rows x 2 columns]